.ride-info div {
  width: 90%;
  margin: 10px auto;
  padding: 1%;
  border-radius: 5px;
  font-weight: bold;
}
.ride-info {
  max-height: 360px;
}
.ride-info img {
  width: 40px;
  height: 25px;
  margin-left: 20px;
  padding-top: 10px;
  display: inline-block;
}
.ride-info .ride-info-1 {
  background-color: salmon;
  color: black;
}
.ride-info-1 p {
  margin-left: 5%;
}
.ride-info-2 {
  background-color: #fff;
}
.ride-info-2 span {
  display: inline-block;
  padding: 10px;
}
.ride-display {
  margin-top: 50px;
}
