.booking,
.ride-display {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.booking-info,
.ride-info {
  width: 28%;
}
.booking-map {
  width: 68%;
  text-align: center;
  margin-top: 20px;
}
.booking-map img {
  width: 80%;
}
.booking-form,
.ride-info {
  background-color: rgb(230, 230, 230);
}
.booking-form input {
  width: 95%;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  display: inline-block;
  padding: 5px 0px 5px 10px;
}

@media screen and (max-width: 700px) {
  .booking-info,
  .ride-info {
    width: 90%;
    margin: 0 auto;
  }
  .booking,
  .ride-display {
    flex-direction: column;
  }
  .booking-map {
    width: 90%;
    text-align: right;
    margin-bottom: 20px;
  }
  .booking-map img {
    width: 90%;
  }
}
